/* Code partially based on the pattern given in Frank W. Zammetti's book */

/* Style for the title header (horizontally and vertically centered). */
.cssImageHeader {
    width: 100px;
    height: 100px;
    margin-left : 0;

}

/* Style for the sections in the about flyover. */
.cssHomeAboutSection {
  padding-top : 20px;
}

/* Style to space out Function button. */
.functionButton {
  margin-right : 12px!important;
}

.cssNavBar .ui-btn {
    width: 16.66 % !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}
/* Style for the NavBar at the bottom. */
.cssNavBar .ui-btn .ui-icon {
  width : 32px!important;
  height : 40px!important;
  margin-left : -15px!important;
  box-shadow : none!important;
  -moz-box-shadow : none!important;
  -webkit-box-shadow : none!important;
}

.navBarButton {
    width: 16.67 % !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}


/* Style for the icons for each item on the NavBar. */
.linkAccountPage .ui-icon {
  background : url(img/112-group.png) no-repeat;
}
.linkContactPage .ui-icon {
  background : url(img/40-inbox.png) no-repeat;
}
.linkOpportunityPage .ui-icon {
  background : url(img/37-suitcase.png) no-repeat;
 
}
.linkLeadPage .ui-icon {
  background : url(img/33-cabinet.png) no-repeat;
}

.linkMeetingPage .ui-icon {
  background : url(img/83-calendar.png) no-repeat;
}
.linkCallPage .ui-icon {
  background : url(img/32-iphone.png) no-repeat;
}

.ui-icon-account:after {
	background : url(img/ic_action_collection.png) center no-repeat;
	background-size: 38px 38px;
	  width: 30px;
	  height: 30px;
	  box-shadow: none;
	  -webkit-box-shadow: none;
	  margin: -2px !important;
	  margin-left:-15px!important;
}

/* Style for the function menus. */
.cssFunctionsMenu {
  min-width : 200px;
}


/* Style for the button in the info dialog. */
.cssInfoDialogButtons {
  margin : 0 auto;
  text-align : center;
}


/* Styles for scrim seen when calling the server. */
.ui-loader-background {
  width : 100%;
  height : 100%;
  left : 0px;
  top : 0px;
  margin : 0px;
  background : rgba(0, 0, 0, 0.3);
  display : none;
  position : fixed;
  z-index : 100;
}
.ui-loading .ui-loader-background {
  display : block;
}


/* Style for required fields on forms. */
.cssRequired {
  color : blue;
  font-weight : bold;
}




/* Responsive web design */

@media all and (max-width: 640px) {

	.cssHomeTitleHeader {
	    !position : absolute;
	    top : 50;
	    bottom : 0;
	    left : 40%;
	    right : 0;
		width : 150px;
		height : 70px;
	    margin : auto;
	    margin-top : 4%;
	    display : block;
	    text-align: center;
	}
	
	.phoneTextInput,
	.faxTextInput,
	.stateTextInput,
	.zipTextInput {
		width : 100px;
	}
	
	.phoneLabel,
	.faxLabel,
	.stateLabel,
	.zipLabel {
		font-size : 10px;
	}
	
	.cssHomeButton {
		width : 70px !important;
		height : 30px !important;
		font-size : 50% !important;
		
	}
	
	#indexHomeButton .ui-btn-text {
		font-size : 8px !important;
	}
	
	.cssFunctionButton {
		width : 80px !important;
		height : 25px !important;
		font-size : 6px !important;
		
	}

	.headerListButton,
	.headerNewButton {
		width : 45px !important;
		height : 25px !important;
		line-height: 25px;
		
		
		
	}
		
	.homeButton {
	  
	  width : 65px;
	  height : 25px;
	  line-height: 25px;	  
	  font-size : 10px !important;
	}
	
	.header {
		position : fixed;
		font-size : 10px;
	}

	
	.ui-title {
		font-size : 80% !important;
		margin-top : 12px !important;
	}
	
	.headerDate {
		margin-left : auto;
		margin-right : auto;
	}
	
	.headerLogo {
		width : 120px;
		height : 60px;  
		float:left;
		display:inline;
		text-align:right;
		margin-left:100px !important;
		margin-top :8px !important;
	}

        h1.heading {
	        display : none !important;
                height:0px 
                line-height: 0px;
                font-size: 0px;
        }
	
	.listHeader {
		
		font-size : 8px;
		font-weight : bold;
		color : blue;
		text-align : left;
		
	}
	
	.cssHomeCounts {
		text-align : center;
		font-size : 12px;
		font-weight : bold;
		color : blue; 
	}

	.cssHomeMenuContact {
		top : 200;
		text-align: center;
		font-size :10px !important;
	}
	
	.cssHomeMenuAccount {
		top : 200;
		text-align: center;
		font-size :10px !important;
	}
	
	.cssHomeMenuTablet {
		display : none;
	}
	
	.contactGrid .ui-block-a { 
		width: 100%; 
		float:none; 
	}
	.leadGrid .ui-block-a { 
		width: 100%; 
		float:none; 
	}
}

@media all and (min-width: 700px) and (max-width: 1040px) {
	
	.cssHomeTitleHeader {
	    !position : absolute;
	    top : 0;
	    bottom : 0;
	    left : 40%;
	    right : 0;
	  margin : auto;
	  margin-top : 5%;
	  display : block;
	  text-align: center;
	}
	
	.homeButton {
	  margin-left : 12px!important;
	 
	}
	
	.header {
		position: fixed;
	}
	
	.headerDate {
		margin-left : 20%;
		margin-right : auto;
	}
	
	.headerLogo {
		width : 120px;
		height : 120px;  
		float:left;
		display:inline;
		text-align:right;
		margin-left:100px;
	}
	
	.accountEntry,
	.opportunityEntry,
	.callEntry,
	.meetingEntry {
		width : 50%;
		margin-left: auto; 
		margin-right: auto;
		text-align : left;
	}
	
	
	table {
	        width : 100%;
	        table-layout : fixed;
	    }

	
	select {
		font-size : 16px;
		font-weight : bold;
	}	
	
	.listHeader {
		font-size : 18px;
		font-weight : bold;
		color : blue;
		text-align : left;
	}
	
	.cssHomeCounts {
		text-align : center;
		font-size : 18px;
		font-weight : bold;
		color : blue;
	}
	
	
	.cssHomeMenuContact {
		display : none;
	}
	
	.cssHomeMenuAccount {
		display : none;
	}
	
	.cssHomeMenuTablet {
		top : 200;
		text-align: center;
	}
	
	.contactGrid .ui-block-a { 
		width: 50%; 
		float:left; 
	}
	.contactGrid .ui-block-b { 
		width: 45%; 
		margin-left : 10px;
		
		float:right; 
	}
	.leadGrid .ui-block-a { 
		width: 50%; 
		float:left; 
	}
	.leadGrid .ui-block-b { 
		width: 45%; 
		margin-left : 10px;
		
		float:right; 
	}
	
	.callListULLead,
	.callListULContact {
		font-size : 8px;
	}
	
	.leadPageButton {
		width : 80px !important;
	}
}

@media all and (min-width: 1041px) {
	
	.cssHomeTitleHeader {
	    !position : absolute;
	    top : 0;
	    bottom : 0;
	    left : 40%;
	    right : 0;
		width : 350px;
		height : 200px;
	  margin : auto;
	  margin-top : 5%;
	  display : block;
	  text-align: center;
	}
	
	.homeButton {
	  margin-left : 12px!important;
	}
	
	.header {
		position: fixed;
	}
	
	.headerDate {
		margin-left : 35%;
		margin-right : auto;
	}
	
	.headerLogo {
		width : 120px;
		height : 120px;  
		float:left;
		display:inline;
		text-align:right;
		margin-left:100px;
	}
	
	.accountEntry,
	.opportunityEntry,
	.callEntry,
	.meetingEntry {
		width : 50%;
		margin-left: auto; 
		margin-right: auto;
		text-align : left;
	}
	
	
	table {
	        width : 100%;
	        table-layout : fixed;
	    }

	select {
		font-size : 16px;
		font-weight : bold;
	}	
	
	.listHeader {
		font-size : 18px;
		font-weight : bold;
		color : blue;
		text-align : left;
	}
	
	.cssHomeCounts {
		text-align : center;
		font-size : 18px;
		font-weight : bold;
		color : blue;
	}
	
	
	.cssHomeMenuContact {
		display : none;
	}
	
	.cssHomeMenuAccount {
		display : none;
	}
	
	.cssHomeMenuTablet {
		top : 200;
		text-align: center;
	}
	
	.contactGrid .ui-block-a { 
		width: 50%; 
		float:left; 
	}
	.contactGrid .ui-block-b { 
		width: 45%; 
		margin-left : 10px;
		
		float:right; 
	}
	.leadGrid .ui-block-a { 
		width: 50%; 
		float:left; 
	}
	.leadGrid .ui-block-b { 
		width: 45%; 
		margin-left : 10px;
		
		float:right; 
	}
	
	.callListULLead,
	.callListULContact {
		font-size : 8px;
	}
}


/* Style for disabled anchors. */

.disabled  {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* color: #333; */
	color : silver;
    background-color: #E6E6E6;
}
