/* Code partially based on the pattern given in Frank W. Zammetti's book */

/* Style for the title header (horizontally and vertically centered). */
.cssImageHeader {
	width: 100px;
	    height: 100px;
    margin-left : 0;
 /* margin : auto;
  
  display : block;
  text-align: center; */
}

.cssHomeTitleHeader {
    !position : absolute;
    top : 0;
    bottom : 0;
    left : 50%;
    right : 0;
  margin : auto;
  margin-top : 10%;
  display : block;
  text-align: center;
}

/* Style for the sections in the about flyover. */
.cssHomeAboutSection {
  padding-top : 20px;
}


/* Style to space out Home button. */
.homeButton {
  margin-left : 12px!important;
}


/* Style to space out Function button. */
.functionButton {
  margin-right : 12px!important;
}

.cssNavBar .ui-btn {
    width: 16.66 % !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}
/* Style for the NavBar at the bottom. */
.cssNavBar .ui-btn .ui-icon {
  width : 32px!important;
  height : 40px!important;
  margin-left : -15px!important;
  box-shadow : none!important;
  -moz-box-shadow : none!important;
  -webkit-box-shadow : none!important;
}

.navBarButton {
    width: 16.67 % !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}


/* Style for the icons for each item on the NavBar. */
.linkAccountPage .ui-icon {
  background : url(img/112-group.png) center no-repeat;
}
.linkContactPage .ui-icon {
  background : url(img/40-inbox.png) center no-repeat;
}
.linkOpportunityPage .ui-icon {
  background : url(img/37-suitcase.png) center no-repeat;
}
.linkLeadPage .ui-icon {
  background : url(img/33-cabinet.png) center no-repeat;
}

.linkMeetingPage .ui-icon {
  background : url(img/83-calendar.png) center no-repeat;
}
.linkCallPage .ui-icon {
  background : url(img/32-iphone.png) center no-repeat;
}

.ui-icon-account:after {
	background : url(img/ic_action_collection.png) center no-repeat;
	background-size: 38px 38px;
	  width: 30px;
	  height: 30px;
	  box-shadow: none;
	  -webkit-box-shadow: none;
	  margin: -2px !important;
	  margin-left:-15px!important;
}

/* Style for the function menus. */
.cssFunctionsMenu {
  min-width : 200px;
}


/* Style for the button in the info dialog. */
.cssInfoDialogButtons {
  margin : 0 auto;
  text-align : center;
}


/* Styles for scrim seen when calling the server. */
.ui-loader-background {
  width : 100%;
  height : 100%;
  left : 0px;
  top : 0px;
  margin : 0px;
  background : rgba(0, 0, 0, 0.3);
  display : none;
  position : fixed;
  z-index : 100;
}
.ui-loading .ui-loader-background {
  display : block;
}


/* Style for required fields on forms. */
.cssRequired {
  color : #ff0000;
}

.header {
	position: fixed;
}

.listHeader {
	
}

/* Responsive web design */

@media all and (max-width: 640px) {
	
	.listHeader {
		
		font-size : 8px;
		font-weight : bold;
		color : blue;
	}
	
	.cssHomeCounts {
		text-align : center;
		font-size : 8px;
		font-weight : bold;
		/* color : blue; */
	}
	
	.cssHomeMenu {
		top : 200;
		text-align: center;
	}
	
	.cssHomeMenuTablet {
		display : none;
	}
	
	.contactGrid .ui-block-a { 
		width: 100%; 
		float:none; 
	}
	.leadGrid .ui-block-a { 
		width: 100%; 
		float:none; 
	}
}

@media all and (min-width: 800px) {
	
	.listHeader {
		font-size : 18px;
		font-weight : bold;
		/* color : blue; */
	}
	
	.cssHomeCounts {
		text-align : center;
		font-size : 18px;
		font-weight : bold;
		color : blue;
	}
	
	
	.cssHomeMenu {
		display : none;
	}
	
	.cssHomeMenuTablet {
		top : 200;
		text-align: center;
	}
	
	.contactGrid .ui-block-a { 
		width: 50%; 
		float:left; 
	}
	.contactGrid .ui-block-b { 
		width: 40%; 
		margin-left : 10px;
		
		float:right; 
	}
	.leadGrid .ui-block-a { 
		width: 50%; 
		float:left; 
	}
	.leadGrid .ui-block-b { 
		width: 40%; 
		margin-left : 10px;
		
		float:right; 
	}
}

/* Style for disabled anchors. */

.disabled  {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* color: #333; */
	color : silver;
    background-color: #E6E6E6;
}
