/* Code partially based on the pattern given in Frank W. Zammetti's book */

/* Style for the title header (horizontally and vertically centered). */
.cssHomeTitleHeader {
  position : absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  margin : auto;
}


/* Style for the sections in the about flyover. */
.cssHomeAboutSection {
  padding-top : 20px;
}


/* Style to space out Home button. */
.homeButton {
  margin-left : 12px!important;
}


/* Style to space out Function button. */
.functionButton {
  margin-right : 12px!important;
}

.cssNavBar .ui-btn {
    width: 16.66 % !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}
/* Style for the NavBar at the bottom. */
.cssNavBar .ui-btn .ui-icon {
  width : 32px!important;
  height : 40px!important;
  margin-left : -15px!important;
  box-shadow : none!important;
  -moz-box-shadow : none!important;
  -webkit-box-shadow : none!important;
}

.navBarButton {
    width: 16.67 % !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}


/* Style for the icons for each item on the NavBar. */
.linkAccountPage .ui-icon {
  background : url(img/ic_action_collection.png) center no-repeat;
}
.linkContactPage .ui-icon {
  background : url(img/ic_action_cloud.png) center no-repeat;
}
.linkOpportunityPage .ui-icon {
  background : url(img/ic_action_group.png) center no-repeat;
}
.linkLeadPage .ui-icon {
  background : url(img/ic_action_person.png) center no-repeat;
}

.linkMeetingPage .ui-icon {
  background : url(img/ic_action_share.png) center no-repeat;
}
.linkCallPage .ui-icon {
  background : url(img/ic_action_call.png) center no-repeat;
}



/* Style for the function menus. */
.cssFunctionsMenu {
  min-width : 200px;
}


/* Style for the button in the info dialog. */
.cssInfoDialogButtons {
  margin : 0 auto;
  text-align : center;
}


/* Styles for scrim seen when calling the server. */
.ui-loader-background {
  width : 100%;
  height : 100%;
  left : 0px;
  top : 0px;
  margin : 0px;
  background : rgba(0, 0, 0, 0.3);
  display : none;
  position : fixed;
  z-index : 100;
}
.ui-loading .ui-loader-background {
  display : block;
}


/* Style for required fields on forms. */
.cssRequired {
  color : #ff0000;
}
